<html>
<head>
</head>
<body>
	<style>
		.word{
			color:rgb(13, 22, 58); font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 10px; font-weight: bold;  
		}
		.word2{
			font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 16px; font-weight: bold;  
		}
	</style>

	<div class="word2" style="display:inline;">
	<a href="/homeStaff">Back to Homepage |</a>
	<a href="/customerStaff"> View the Customers of a Flight |</a>
	<a href="/createflightStaff"> Create New Flights |</a>
	<a href="/addairplaneStaff"> Add New Airplanes |</a>
	<a href="/viewagentsStaff"> View all Booking Agents |</a>
	<a href="/frequentcustomerStaff"> View Most Frequent Customers |</a>
	<a href="/reportsStaff"> View Reports |</a>
	<a href="/revenueStaff"> Comparison of Revenue earned |</a>
	<a href="/destinationStaff"> View Top Destinations</a>
</div>
	
<div class="word2" style = "float:right; display:inline;"><a>Customer: {{username}} &nbsp</a><a href="/logout">Logout</a></div>

<form action="/addairportStaff" method="POST">
	<input type="text" name = "airport_name" placeholder="airport name" required/> </br>
	<input type="text" name = "airport_city" list="cities" placeholder="airport city" required/> </br>
	<datalist id="cities">
        {% for val in city %}
            <option value={{val}}>
        {% endfor %}
  </datalist>
	<input type="submit" value = Add />
	{% if error %}
		<p class="word2"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>


</body>
</html>
