<html>
<head>
</head>
<body>
	<style>
		.word{
			color:rgb(13, 22, 58); font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 10px; font-weight: bold;  
		}
		.word2{
			font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 16px; font-weight: bold;  
		}
	</style>

	<div class="word2" style="display:inline;">
	<a href="/homeStaff">Back to Homepage |</a>
	<a href="/customerStaff">View the Customers of a Flight |</a>
	<a href="/addairplaneStaff"> Add New Airplanes |</a>
	<a href="/addairportStaff"> Add New Airports |</a>
	<a href="/viewagentsStaff"> View all Booking Agents |</a>
	<a href="/frequentcustomerStaff"> View Most Frequent Customers |</a>
	<a href="/reportsStaff"> View Reports |</a>
	<a href="/revenueStaff"> Comparison of Revenue earned |</a>
	<a href="/destinationStaff"> View Top Destinations</a>
</div>
	
<div class="word2" style = "float:right; display:inline;"><a>Customer: {{username}} &nbsp</a><a href="/logout">Logout</a></div>

<form action="/createflightStaff" method="POST">
	<input type="text" name = "airline_name" placeholder="airline name" required/> </br>
	<input type="number" name = "flight_num" placeholder="flight num" required/></br>
	<input type="text" name = "departure_airport" placeholder="departure airport" required/> </br>
	<input type="datetime-local" name = "departure_time" placeholder="departure time" required/> </br>
	<input type="text" name = "arrival_airport" placeholder="arrival airport" required/> </br>
	<input type="datetime-local" name = "arrival_time" placeholder="arrival time" required/> </br>
	<input type="number" name = "price" placeholder="price" required/> </br>
	<input type="text" name = "status" placeholder="flight status" required/></br>
	<input type="number" name = "airplane_id" placeholder="airplane id" required/> </br>
	<input type="submit" value = Create />
	{% if error %}
		<p class="word2"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</body>
</html>
