<html>
<head>
</head>
<body>
	<style>
		.word{
			color:rgb(13, 22, 58); font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 10px; font-weight: bold;  
		}
		.word2{
			font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 16px; font-weight: bold;  
		}
	</style>
<div class="word2" style="display:inline;">
	<a href="/login_customer">Customer |</a>
	<a href="/login_agency">Booking Agent</a>
</div>
<form action="/loginAuthStaff" method="POST">
	<input type="text" name = "username" placeholder="Username" required/> </br>
	<input type="password" name = "password" placeholder="Password" required/></br>
	<input type="submit" value = Login />
	<div class="word2" style="display:inline;">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</div>
</form>
<div class="word2" style="display:inline;">
<a href="/">Go back</a>
</div>
</body>


</html>
