<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<style>
	.word{
		color:rgb(13, 22, 58); font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 10px; font-weight: bold;  
	}
	.word2{
		font-family: 'Calibri', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 16px; font-weight: bold;  
	}
</style>

<body>
	<div class="word2" style="display:inline;">
	<a href="/homeStaff">Back to Homepage |</a>
	<a href="/customerStaff">View the Customers of a Flight |</a>
	<a href="/createflightStaff"> Create New Flights |</a>
	<a href="/addairplaneStaff"> Add New Airplanes |</a>
	<a href="/addairportStaff"> Add New Airports |</a>
	<a href="/viewagentsStaff"> View all Booking Agents |</a>
	<a href="/frequentcustomerStaff"> View Most Frequent Customers |</a>
	<a href="/reportsStaff"> View Reports |</a>
	<a href="/destinationStaff"> View Top Destinations</a>
  </div>

  <div class="word2" style = "float:right; display:inline;"><a>Customer: {{username}} &nbsp</a><a href="/logout">Logout</a></div>



<div class="word">
  <h1>{{ title1 }}</h1>
</div>

    <canvas id="chart1" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in x1 %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart1").getContext("2d");
      steps = 10
      max = {{ max_val1 }}

      // draw pie chart
      new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData);

    </script>

<div class="word">
  <h1>{{ title2 }}</h1>
</div>

    <canvas id="chart2" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in x2 %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart2").getContext("2d");
      steps = 10
      max = {{ max_val2 }}

      // draw pie chart
      new Chart(document.getElementById("chart2").getContext("2d")).Pie(pieData);

    </script>

</body>


</html>